################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIComm/APIComms/ProductsAPI
/APIComm/APIComms/ProductModels
/APIComm/APIComms/StockAPI
/APIComm/APIComms/.vs/APIComms
/APIComm/.vs
/.vs
/BushwoodBooks
/Contoso
/gRPCSample
/MSSample
/APIComm/APIComms/pv-pvc-disk.yaml
/APIComm/APIComms/pv-pvc.yaml
/APIComm/APIComms/pvc-new.yaml
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/appsettings.Development.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/appsettings.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Newtonsoft.Json.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/PingAPI.deps.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/PingAPI.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/PingAPI.exe
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/PingAPI.pdb
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/PingAPI.runtimeconfig.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/appsettings.Development.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/appsettings.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/PingAPI.deps.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/PingAPI.runtimeconfig.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/Prod/appsettings.Development.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/Prod/appsettings.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/Prod/PingAPI.deps.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/Prod/PingAPI.runtimeconfig.json
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/Prod/web.config
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Publish/web.config
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.AspNetCore.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.Sinks.Console.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Serilog.Sinks.File.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/APIComm/APIComms/PingAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/APIComm/APIComms/PingAPI/data/logs/applog-20240228.txt
/APIComm/APIComms/PingAPI/data/data.txt
/APIComm/APIComms/PingAPI/logs/applog-20240227.txt
/APIComm/APIComms/PingAPI/logs/applog-20240228.txt
/APIComm/APIComms/PongAPI/data/data.txt
/APIComm/APIComms/PongAPI/Dockerfile
